@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;;
    font-family: "Mulish", sans-serif;
}
.loader {
    --col1: rgba(228, 19, 141, 0.925);
    --col2: rgb(255, 179, 80);
    font-size: 2em;
    font-weight: 600;
    perspective: 800px;
    position: relative;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
    perspective: 800px;
    animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
    ;
    content: '●';
    color: var(--col1);
    position: absolute;
    translate: -60px 500px;
    width: 5px;
    height: 5px;
}

.loader::before {
    animation-delay: 3s;
    color: var(--col1);
}

.loader .text::before {
    color: var(--col2);
    animation-delay: 2s;
}

.loader .text::after {
    color: var(--col2);
}

.loader .text {
    animation: anim 20s linear infinite, move 10s linear infinite 1s;
    color: transparent;
    background-image: linear-gradient(90deg, 
    var(--col1) 0%,
    var(--col2) 100%);
    background-clip: text;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: skew(5deg, -5deg);
    -webkit-background-clip: text;
    position: relative;
}

@keyframes anim {
    0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, .5);
    }

    50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
    }
}

@keyframes move {
    50% {
    translate: 0px 0px;
    rotate: x 60deg;
    transform: skew(-5deg, 5deg);
    }
}

@keyframes dotMove {
    0%, 100% {
    translate: -60px 300px;
    }

    50% {
    translate: 160px -250px;
    scale: .5;
    opacity: .85;
    }
}
.maindiv{
    background: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 0px;;
    width: 450px;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow:0 0 128px 0 rgba(0, 0, 0,0.1),0 32px 64px -48px rgba(0,0,0,0.5) ;    
    -ms-overflow-style: none; 
    display: none;
}
.maindiv #arrow{
    width:25px;
    object-fit: cover;
    top: 0;
    left: 0;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    transform: rotate(270deg);
    cursor: pointer;
}
.maindiv::-webkit-scrollbar {
    display: none;
    }
div.container{
    padding:25px 30px;
}
div.container div#logo_desc{
    padding:25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-family: monospace;
}
div.container div#logo_desc p{
    margin-top: 1.2rem;
    font-size: medium;;
    text-align: center;
    font-family: cursive;
    font-size: small;
    margin-top: 50px;
}
div.container div#logo_desc .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
div.container div#logo_desc .button {
    --border-right: 6px;
    --text-stroke-color: black;
    --animation-color: green;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
div.container div#logo_desc .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
div.container div#logo_desc .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
div.container div#links{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 50px;
}
div.container div#links p{
    margin-top:5px;
    font-family: cursive;
    font-size: small;
}
div.container div#links a i{
    font-size: 3rem;
}
div.container div#links a:nth-child(1) .button1{
    background: #4776E6; 
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  
    background: linear-gradient(to right, #8E54E9, #4776E6); 
}
div.container div#links a:nth-child(2) .button1{
    background: #ec008c; 
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c); 
    background: linear-gradient(to right, #fc6767, #ec008c);
}
div.container div#links a:hover{
    transform: scale(0.95);
    background:none;
    color:black ;
}
div.container div#links a .button1 {
    position: relative;
    box-shadow: 0 0 5px #181500;
    transition: all 0s ease-in-out;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 120px;
    padding: 10px; 
    border:1px solid black;
    cursor: pointer;
}
.star-1 {
position: absolute;
top: 20%;
left: 20%;
width: 25px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
position: absolute;
top: 45%;
left: 45%;
width: 15px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
position: absolute;
top: 40%;
left: 40%;
width: 5px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
position: absolute;
top: 20%;
left: 40%;
width: 8px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
position: absolute;
top: 25%;
left: 45%;
width: 15px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
position: absolute;
top: 5%;
left: 50%;
width: 5px;
height: auto;
filter: drop-shadow(0 0 0 #fffdef);
z-index: -5;
transition: all 0.8s ease;
}

div.container div#links a  .button1:hover {
background: transparent;
color:black;
}

div.container div#links a  .button1:hover .star-1 {
position: absolute;
top: -80%;
left: -30%;
width: 25px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

div.container div#links a  .button1:hover .star-2 {
position: absolute;
top: -25%;
left: 10%;
width: 15px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

div.container div#links a  .button1:hover .star-3 {
position: absolute;
top: 55%;
left: 25%;
width: 5px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

div.container div#links a  .button1:hover .star-4 {
position: absolute;
top: 30%;
left: 80%;
width: 8px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

div.container div#links a  .button1:hover .star-5 {
position: absolute;
top: 25%;
left: 115%;
width: 15px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

div.container div#links a  .button1:hover .star-6 {
position: absolute;
top: 5%;
left: 60%;
width: 5px;
height: auto;
filter: drop-shadow(0 0 10px #181500);
z-index: 2;
}

.fil0 {
fill: #181500;
}

