<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/fontstyle.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style1.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'main_images/flask_gem_avatar.png')}}" type="image/x-icon">
</head>
<body>
    <div class="loader" id="loading">Loading
        <span></span>
    </div>
    <div class="maindiv" id="wrapper">
        <div class="container">
    <header>
        <div id="home">
                <i class="fa-solid fa-house" onclick="back()"></i>
        </div>
        <div id="chat_options">
            <p id="selected_option">Text to text</p>
        </div>
    </header>
    <div class="chats">
    </div>
    <div id="query_area">
        <div class="text_btn">
            <textarea name="query" id="query" placeholder="Message FlaskGem..."></textarea>
            <button id="submit">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>
    </div>
</div>
    <script src="{{url_for('static', filename = 'js/app.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/additional.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/ai_index.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/load.js')}}"></script>
</body>
</html>