<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ChatterBox</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    </head>
<link rel="icon" type="image/jpeg" href="https://static.vecteezy.com/system/resources/previews/022/360/628/non_2x/3d-verification-check-validate-png.png">
<body>
<style>
img{
    display:none;
}
</style>
<div class="wrapper">
    <section class="form login">
    <header>ChatterBox</header>
        <form action="#"  enctype="multipart/form-data" autocomplete="off" method="post">
            <div class="error-txt"></div>
                <div class="field input">
                    <input type="email" name="email"  required>
                    <span>Email</span>
                </div>
                <div class="field input">
                    <input type="password" name="password" required>
                    <span>Password</span>
                </div>
                <div class="field button">
                    <input type="submit" value="Continue to Chat">
                </div>
        </form>
        <div class="link">Not yet signed up? <a href="index.html">Signup now</a></div>
    </section>
</div>
</body>
</html>